@media screen and (max-width: 600px) {
  .who {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 4.5rem;
  }

  .who__title {
    font-weight: bold;
    font-size: 2.6rem;
    text-align: center;
    color: #333333;
  }

  .who__subtitle {
    font-size: 1.8rem;
    text-align: center;
    color: #828282;
  }
}
